:root {
  --main-text-size: 18px;
  --main-medium-size: 50px;
  --site-weight-number: 900;
  --main-percentage-size: 50%;
  --main-second-number: 500ms;
  --main-dark-color: #1e242c;
  --main-light-color: #ffffff;
  --main-orange-color: #f69419;
  --footer-bottom-color: #292f37;
  --main-about-text-color: #8a8a8a;
  --site-navigation-color: #09124240;
  --site-contact-text-color: #23212a;
  --main-about-content-color: #1c1d20;
}
