:root {
  --main-text-size: 18px;
  --main-medium-size: 50px;
  --site-weight-number: 900;
  --main-percentage-size: 50%;
  --main-second-number: 500ms;
  --main-dark-color: #1e242c;
  --main-light-color: #ffffff;
  --main-input-color: #c2c4ca;
  --main-break-color: #000000;
  --main-orange-color: #f69419;
  --main-modal-color: #00111380;
  --search-border-color: #eef0f4;
  --footer-bottom-color: #292f37;
  --main-services-color: #666666;
  --main-customer-color: #f4f4f4;
  --costomer-user-color: #787F95;
  --main-poppins-color: #ffffff80;
  --main-contact-color: #191a1980;
  --customer-title-color: #091242;
  --main-about-text-color: #8a8a8a;
  --search-background-color: #f7f7f7;
  --site-navigation-color: rgba(9, 18, 66, 1);
  --site-contact-text-color: #23212a;
  --main-service-link-color: #111d15;
  --pagination-border-color: #eeeeee;
  --main-latest-news-color: #041c3780;
  --main-about-content-color: #1c1d20;
  --main-modal-background-color: #f6f8fa;
  --main-latest-news-title-color: #282b4c;
}
