.about {
  margin-bottom: 100px;
}

.about__background {
  padding: 70px 0px 80px 0px;
}

.about__images-container {
  width: 100%;
  min-height: 645px;
  max-width: 400px;
  position: relative;
}

.about__images-container-image {
  top: 0;
  object-fit: cover;
  position: absolute;
  border-radius: 30px;
}

.about__images-container-image:nth-child(1) {
  width: 460px;
  height: 370px;
}

.about__images-container-image:nth-child(2) {
  top: 280px;
  left: -95px;
  width: 320px;
  height: 255px;
}

.about__images-container-image:nth-child(3) {
  top: 430px;
  right: 0;
  width: 260px;
  height: 210px;
}

.about__container {
  gap: 140px;
  display: flex;
  justify-content: center;
}

.about__question {
  max-width: 575px;
}

.about__question:nth-child(1) {
  margin-bottom: 30px;
}

.about__question:nth-child(2) {
  margin-bottom: 60px;
}

.about__question-title {
  font-size: 35px;
  font-weight: 800;
  line-height: 46px;
  margin-bottom: 28px;
  color: var(--main-dark-color);
}

.about__question-text {
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 30px;
  font-family: "Be Vietnam Pro";
  color: var(--main-about-content-color);
}

.about__answers-list {
  gap: 12px;
  display: flex;
  flex-direction: column;
}

.about__anwers-item {
  gap: 10px;
  display: flex;
  align-items: center;
}

.about__answers-item-icon {
  width: 18px;
  height: 12px;
}

.about__box-btn {
  font-size: 16px;
  font-weight: 600;
  padding: 20px 40px;
  line-height: 21.6px;
  display: inline-block;
  color: var(--site-contact-text-color);
  border: 1px solid var(--main-orange-color);
  background-color: var(--main-orange-color);
  transition: color 150ms linear, background-color 150ms linear;
}

.about__box-btn:hover {
  background-color: transparent;
  color: var(--main-orange-color);
}
