.not-found {
  padding: 0 0px 100px 0px;
}

.not-found__content {
  margin: 0 auto;
  max-width: 540px;
  text-align: center;
}

.not-found__content-image {
  height: 500px;
  max-width: 500px;
  object-fit: cover;

  @media only screen and (max-width: 768px) {
    width: 100%;
    height: 400px;
  }
}

.not-found__content-title {
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
  margin-bottom: 24px;
  font-family: "Be Vietnam Pro";

  @media only screen and (max-width: 576px) {
    font-size: 28px;
    margin-bottom: 18px;
  }
}

.not-found__content-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  font-family: "Be Vietnam Pro";

  @media only screen and (max-width: 576px) {
    font-size: 15px;
  }
}

.site-hero__content {
  max-width: calc(
    var(--main-medium-size) * 13.6 + (calc(var(--main-text-size) * 2) - 6px)
  );

  @media only screen and (max-width: 992px) {
    margin: 0 auto;
    text-align: center;
  }
}

.site-hero__content-title {
  color: var(--main-light-color);
  font-size: 36px;
  font-weight: calc(var(--site-weight-number) - 200);
  line-height: calc(var(--main-medium-size) + 7.5px);
  margin-bottom: calc(var(--main-medium-size) - 20px);

  @media only screen and (max-width: 992px) {
    font-size: 32px;
    line-height: 45px;
  }
}

.site-hero__conetent-among {
  color: var(--main-orange-color);
}

.site-hero__content-text {
  font-family: "Be Vietnam Pro";
  color: var(--main-light-color);
  font-size: var(--main-text-size);
  line-height: calc(var(--main-text-size) + 4.77px);
  font-weight: calc(var(--site-weight-number) - 500);
  margin-bottom: calc(var(--main-medium-size) + 30px);

  @media only screen and (max-width: 992px) {
    margin-bottom: var(--main-medium-size);
  }

  @media only screen and (max-width: 576px) {
    font-size: calc(var(--main-text-size) - 2px);
    margin-bottom: calc(var(--main-medium-size) - 20px);
  }
}

.site-hero__buttons {
  display: flex;
  align-items: center;
  gap: calc(var(--main-text-size) + 7px);

  @media only screen and (max-width: 992px) {
    gap: 15px;
    justify-content: center;
  }
}

.site-hero__buttons-button {
  border-radius: 6px;
  font-family: "Be Vietnam Pro";
  background-color: transparent;
  color: var(--main-light-color);
  border: 1px solid var(--main-light-color);
  font-size: calc(var(--main-text-size) - 2px);
  line-height: calc(var(--main-text-size) + 2.24px);
  font-weight: calc(var(--site-weight-number) - 300);
  padding: var(--main-text-size) calc(var(--main-text-size) * 2 - 4px);

  @media only screen and (max-width: 576px) {
    font-size: calc(var(--main-text-size) - 4px);
  }
}

.site-hero__buttons-button--active {
  color: var(--main-light-color);
  border: 1px solid var(--main-orange-color);
  background-color: var(--main-orange-color);
}
