/* site navigation */

.site-hero {
  margin-bottom: 60px;
}

.site__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__list {
  display: flex;
  align-items: center;
  gap: var(--main-medium-size);
}

.nav__item-link {
  color: var(--main-light-color);
  transition: color calc(var(--main-second-number) - 350ms) linear;

  &:hover {
    color: var(--main-orange-color);
  }
}

.nav__item-link--active {
  color: var(--main-orange-color);
}

.site__contact {
  display: flex;
  align-items: center;

  gap: var(--main-medium-size);
}

.site__medias {
  display: flex;
  align-items: center;
  gap: calc(var(--main-text-size) + 6px);
}

.site__media-icon {
  color: var(--main-light-color);
  font-size: calc(var(--main-text-size) + 2px);
  transition: color calc(var(--main-second-number) - 350ms) linear;
  &:hover {
    color: var(--main-orange-color);
  }
}

.nav__item-link {
  font-size: calc(var(--main-text-size) - 2px);
  line-height: calc(var(--main-text-size) + 3.6px);
  font-weight: calc(var(--site-weight-number) - 300);
}

.site-navigation {
  top: 0;
  z-index: 2;
  width: 100%;
  position: sticky;
  transition: background-color 150ms linear;
  background-color: var(--main-dark-color);
  padding: calc(var(--main-text-size) + 2px) 0px;

  @media only screen and (max-width: 900px) {
    display: none;
  }
}

.site__contact-link {
  color: var(--site-contact-text-color);
  background-color: var(--main-orange-color);
  font-size: calc(var(--main-text-size) - 2px);
  line-height: calc(var(--main-text-size) + 3.6px);
  font-weight: calc(var(--site-weight-number) - 300);
  border: calc(var(--main-text-size) - 17px) solid var(--main-orange-color);
  padding: calc(var(--main-text-size) + 2px)
    calc(var(--main-medium-size) + 20px);
  transition: background-color calc(var(--main-second-number) - 350ms) linear,
    color calc(var(--main-second-number) - 350ms) linear;

  &:hover {
    color: var(--main-orange-color);
    background-color: transparent;
  }

  @media only screen and (max-width: 1335px) {
    display: none;
  }
}

.content {
  margin: 0 auto;
  max-width: 720px;
  padding: 100px 0px;
  text-align: center;
}

.content-title {
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
  margin-bottom: 25px;
  color: var(--main-light-color);
}

.content-text {
  font-size: 18px;
  font-weight: 400;
  line-height: 22.77px;
  font-family: "Be Vietnam Pro";
  color: var(--main-light-color);
}

.site__languages {
  position: relative;
}

.site__languages-list {
  left: 0;
  top: 50px;
  opacity: 0;
  width: 100%;
  display: flex;
  visibility: hidden;
  position: absolute;
  flex-direction: column;
  background-color: var(--main-light-color);
  transition: visibility 150ms linear, opacity 150ms linear;
}

.site__languages-list--open {
  opacity: 1;
  visibility: visible;
  transition: visibility 150ms linear, opacity 150ms linear;
}

.site__language {
  gap: 10px;
  display: flex;
  cursor: pointer;
  padding: 10px 0px;
  align-items: center;
}

.site__language-image {
  width: 35px;
  height: 35px;
  object-fit: cover;
  border-radius: 50%;
}

.site__language-text {
  font-size: 20px;
  font-family: "Be Vietnam Pro";
  color: var(--main-light-color);
}

.site__language-icon {
  font-size: 18px;
  transform: rotate(0deg);
  color: var(--main-light-color);
  transition: transform 150ms linear;
}

.site__language--open > .site__language-icon {
  transform: rotate(180deg);
}

.site__languages-item {
  gap: 10px;
  padding: 5px;
  display: flex;
  cursor: pointer;
  position: relative;
  align-items: center;
  border-bottom: 1px solid var(--main-dark-color);
}

.site__languages-item-image {
  width: 35px;
  height: 35px;
  object-fit: cover;
  border-radius: 50%;
}

.site__languages-item-text {
  font-size: 20px;
  font-family: "Be Vietnam Pro";
  color: var(--main-dark-color);
}
