/* .site__contact-link {
  color: var(--site-contact-text-color);
  background-color: var(--main-orange-color);
  font-size: calc(var(--main-text-size) - 2px);
  line-height: calc(var(--main-text-size) + 3.6px);
  font-weight: calc(var(--site-weight-number) - 300);
  border: calc(var(--main-text-size) - 17px) solid var(--main-orange-color);
  padding: calc(var(--main-text-size) + 2px)
    calc(var(--main-medium-size) + 20px);
  transition: background-color calc(var(--main-second-number) - 350ms) linear,
    color calc(var(--main-second-number) - 350ms) linear;

  &:hover {
    color: var(--main-orange-color);
    background-color: transparent;
  }
} */

.site-hero {
  padding-top: calc(
    (var(--main-medium-size) * 2) + var(--main-text-size) + 8px
  );

  padding-bottom: calc(
    (var(--main-medium-size) * 2) + var(--main-text-size) + 8px
  );

  @media only screen and (max-width: 992px) {
    padding-top: calc(
      (var(--main-medium-size)) + var(--main-text-size) + 8px
    );
    padding-bottom: calc(
      (var(--main-medium-size)) + var(--main-text-size) + 8px
    );
  }

  @media only screen and (max-width: 576px) {
    padding-top: 75px;
  }
}

.site-hero__content-small {
  position: relative;
  display: inline-block;
  color: var(--main-light-color);
  background-color: var(--main-dark-color);
  font-size: calc(var(--main-text-size) - 4px);
  margin-bottom: calc(var(--main-text-size) - 8px);
  line-height: calc(var(--main-text-size) + 0.61px);
  font-weight: calc(var(--site-weight-number) - 500);
  padding: 0px calc(var(--main-text-size) - 8px);

  &::before {
    left: 0;
    content: "";
    height: 100%;
    position: absolute;
    width: calc(var(--main-text-size) - 14px);
    background-color: var(--main-orange-color);
  }
}
